<h1>{{agent.slice(0, 4) + '...' + agent.slice(-4)}}</h1>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 table">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="contract">
    <th mat-header-cell *matHeaderCellDef>Contract</th>
    <td mat-cell *matCellDef="let element">{{element.contract}}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="protocol">
    <th mat-header-cell *matHeaderCellDef>Protocol</th>
    <td mat-cell *matCellDef="let element">{{element.protocol}}</td>
  </ng-container>

  <!-- expander Column -->
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row"
              (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation();">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="4">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-code">
          <pre style='max-width:100px;'>
            <code [highlight]="element.code"></code>
          </pre>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
      mat-row
      (click)="openApp(row)"
      *matRowDef="let row; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === row">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<button mat-raised-button color="primary" (click)="openDeploy()">Deploy</button>
<button mat-raised-button color="primary" (click)="openJoin()">Join</button>
<button mat-raised-button style="background-color:LawnGreen;" (click)="openID()">Id<mat-icon fontIcon="content_copy"></mat-icon></button>
