<div class="container">
  <div class="vertical-center">
    <div class="sec">
      Select an identity:
      <div>
        <input type="file" style="display:none" (change)="onFileSelected($event)" #fileUpload/>
        <button mat-raised-button color="primary" (click)="fileUpload.click()">Browse</button>
        {{key ? key.slice(0, 4) + '...' + key.slice(-4) : 'no key selected yet'}}
      </div>
      Select a server:
      <div>
        <mat-form-field appearance="fill">
          <mat-label>server</mat-label>
          <mat-select [(value)]="selectedServer">
            <mat-option value="http://localhost:5001/">localhost</mat-option>
            <mat-option value="b">Google</mat-option>
            <mat-option value="c">BGU</mat-option>
            <mat-option value="http://192.168.1.108:5001/">108</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="onLogin($event)">Login</button>
      <div class="H-line"></div>
      <button mat-raised-button color="primary" (click)="onGenerate($event)">Generate new identifier</button>
    </div>
  </div>
</div>
