.container {
  min-height: 100vh;
  margin: auto;
  padding: 100px 20px;
  background-color: #f3f3f3;
}

.vertical-center {
  margin: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap:20px;
  padding: 20px;
  background-color: white;
  border-radius: 14px;
}

.H-line {
  height: 2px;
  align-self: stretch;
  background: black;
}

.sec {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.input-wrap {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

/* Style the file input label */
.input-wrap label {
  display: block;
  margin-bottom: 20px;
}

/* Style the file input wrapper */
.file-input-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .or {
    margin: 5px;
  }

  .mat-raised-button {
    width: 130px;
  }
}

/* Style the file input text */
.file-name-text {
  margin-top: 20px;
  font-style: italic;
}

/* Hide the file input element */
input[type="file"] {
  display: none;
}

/* Style the file input container when file is being dragged over */
.file-input.dragover {
  border-color: #1E90FF;
}

/* Style the file input container when file is being dragged over */
.file-input.dragover label {
  color: #1E90FF;
}

/* Style the file input container when file is being dragged over */
.file-input.dragover .file-input-wrapper {
  opacity: 0.5;
}

/* Style the file input container when file is being dragged over */
.file-input.dragover .file-name-text {
  display: none;
}

.login-button {
  margin-top: 30px;
}

mat-form-field {
  display: block;
}