<h2 mat-dialog-title>Deploy a new contract</h2>
<mat-dialog-content>
  <div>
    Select a contract:
    <mat-form-field appearance="fill">
      <mat-label>contract</mat-label>
      <mat-select [(value)]="contractType">
        <mat-option value="profile">personal profile</mat-option>
        <mat-option value="community">community</mat-option>
        <mat-option value="social">social network</mat-option>
        <mat-option value="deliberation">deliberation</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    Give it a name:
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="contractName">
    </mat-form-field>
  </div>
  <div *ngIf="contractType && contractType!='profile'">
    Select your profile:
    <mat-form-field appearance="fill" class="text">
      <mat-label>profile</mat-label>
      <mat-select [(value)]="selectedProfile">
        <mat-option *ngFor="let profile of existingProfiles" [value]="profile.id">
          {{profile.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="contractType=='deliberation'">
    Select a community:
    <mat-form-field appearance="fill" class="text">
      <mat-label>community</mat-label>
      <mat-select [(value)]="selectedCommunity">
        <mat-option *ngFor="let community of existingCommunities" [value]="community.id">
          {{community.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    Select a protocol:
    <mat-form-field appearance="fill">
      <mat-label>protocol</mat-label>
      <mat-select [(value)]="selectedProtocol">
        <mat-option value="BFT">BFT</mat-option>
<!--        <mat-option value="Dissemination">Dissemination</mat-option>
        <mat-option value="POW">POW</mat-option>
        <mat-option value="Blocklace">Blocklace</mat-option> -->
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="selectedProtocol=='Dissemination'">
    <div>
      Paste invitation:
      <mat-form-field>
        <mat-label>Invitation</mat-label>
        <input matInput type="text" [(ngModel)]="inviteField">
      </mat-form-field>
      <button mat-button (click)=onInviteUpdate() color="primary">Update</button>
    </div>
    <div *ngFor="let partner of partners">
      {{partner}}
    </div>
    <div>
      select threshold:
      <mat-slider [max]="100" [min]="0" [step]="1" [thumbLabel]="true" [(ngModel)]="threshold">
        where am i
      </mat-slider>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary">Cancel</button>
  <button mat-button [mat-dialog-close]="{'contract': getContractDetails(), 'name': contractName, 'profile': selectedProfile,
                                          'protocol': selectedProtocol, 'group': partners, 'threshold': threshold,
                                          'community': selectedCommunity}"
          cdkFocusInitial color="primary">Deploy</button>
</mat-dialog-actions>

